# PA-3: Working with Lists and Tuples
## Jameson Buie
## Version 1
## CS-150-01 Spring 2023

# i. append()
### Append is used to add an item at the end of a list. Access the list by typing the list name, then adding ".append()" after it. Finally, enter a number or a string in the parentheses to add that new element to your list

In [1]:
beans= list()
beans.append("Pinto")
print(beans)

['Pinto']

# ii. extend()
### Extend is used to add the items from one list onto the end of another list that already contains several items. We can extend a list by typing the name of the list, then adding ".extend()". In the parentheses, type the name of the list that you would like to add to your already called list. This will then change the originally called list to include all elements from both lists when the new list is printed and ran.

In [2]:
numbers=[1,2,3,4]
numbers

[1, 2, 3, 4]

In [3]:
numbers2=[5,6]
numbers2

[5, 6]

In [4]:
numbers.extend(numbers2)
print(numbers)

[1, 2, 3, 4, 5, 6]

# iii. insert()
### Insert is used to add an element in a list at any point in the list, not just at the end. This can be done by accessing the index at which you would would like to insert your new element into the list. 
### Type the list name then add ".insert()" with the index you would like to insert your element followed by a comma and a new string or integer that you would like to insert.

In [5]:
names = ["Brad","Chad","Thad"]
names.insert(2,"Eric")
print(names)

['Brad', 'Chad', 'Eric', 'Thad']

# iv. remove()
### Remove is used to directly access an element in a list and get rid of it. It cannot be done by accessing the index.
### First, type the name of the list, then follow it with ".remove()" and enter the item from the list that you would like to remove

In [6]:
shows= ["Breaking Bad","Family Guy","Outer Banks","Lost"]
shows.remove("Lost")
print(shows)

['Breaking Bad', 'Family Guy', 'Outer Banks']

# v. count()
### Count is used to find the number of times a specific element is included in a list. "listName.count()" will return the number of times whatever specified value you enter in the parentheses is in the list.

In [7]:
animals=["Wolf","Bear","Wolf","Dragon","Axlotl"]
animals.count("Wolf") #This will help me see that Wolf is in the list twice

2

# vi. index()
### Index is used to find the index of the first appearance of an element in a list when it is searched for with this method. 
### Access the list then add ".index()" with a specific element in the parenthese and the function will return the index of the element when it first appears in the list

In [8]:
colors=["Blue","Red","Yellow","Orange","Green"]
colors.index("Yellow") # Yellow is at the index of 2

2

# vii. pop()
### Pop is used to remove an element in a list in 2 different ways. You can use it to remove the element at the end of the list by keeping the parentheses empty or by adding the index of the element you want to remove in the parentheses.

In [9]:
cheese=["Cheddar","Oaxaca","Gouda","Mozzarella","Feta" ]
print(cheese)

['Cheddar', 'Oaxaca', 'Gouda', 'Mozzarella', 'Feta']

In [10]:
cheese.pop() # Pop is used to remove the last element in the list, Feta
print(cheese)

['Cheddar', 'Oaxaca', 'Gouda', 'Mozzarella']

In [11]:
print(cheese.pop(-2)) 
print(cheese) # Pop was used to remove the secong to last item, Gouda

Gouda
['Cheddar', 'Oaxaca', 'Mozzarella']

# vii. sorted()
### Sorted is used to temporarily sort the items in a list from least to greatest if they are numbers or in alphabetical order if they are letters.
### Sorted only sorts the elements in a list for the one time the list is called when the function is ran. If the list is called again, it will return to its original order

In [13]:
numbers=[23,45,78,157,3,98]
sorted(numbers) # Prints the numbers from least to greatest

[3, 23, 45, 78, 98, 157]

In [14]:
print(numbers) # The numbers are not sorted anymore

[23, 45, 78, 157, 3, 98]

# ix. copy()
### Copy is used to copy all of the elements from one list into a new list. The original list will remain the same, but the new list can then be manipulated to change the elements by adding, removing, etc.
### You can set the "list.copy()" equal to a variable, which will be the name of the new list that is created

In [16]:
sports=["Baseball","Football","Basketball","Wrestling","Golf"]
print(sports)

['Baseball', 'Football', 'Basketball', 'Wrestling', 'Golf']

In [19]:
newSports = sports.copy() # Created new list from old list
print(newSports)

['Baseball', 'Football', 'Basketball', 'Wrestling', 'Golf']

In [20]:
newSports.pop() # Removed golf from new list of sports
print(newSports)

['Baseball', 'Football', 'Basketball', 'Wrestling']

# x. clear()
### Clear is used to remove all items from a list. State the list name and then follow it with ".clear()" to remove all the items from the list.
### The list is not deleted entirely, it still remains as an empty list

In [21]:
days=["Monday","Tuesday","Wednesday","Friday","Saturday"]
print(days)

['Monday', 'Tuesday', 'Wednesday', 'Friday', 'Saturday']

In [22]:
days.clear() # Removes all elements from the list
print(days) # Shows that we are left with an empty list

[]

# xi. list()
### This function is used to create a list. By setting it equal to a variable, an empty list will be created with the name of the variable

In [23]:
newList = list()
print(newList)

[]

# Part B

# i. len()
### This method can be used to determine how many items are in a list or a tuple. When you run "len()" with the name of the list inside the parentheses, the number of items in the list is returned.

In [26]:
subjects=("Math","English","Science","History","Health","Art")
len(subjects)

6

# ii. max()
### The Max method is used to find the largest item in a tuple based on the size of a number or alphabeitcal order of a string. Larger numbers will be closer to being the maximum, while letters have a greater value than numbers.
### Lowercase letters have a greater value than uppercase letters

In [34]:
tuple=("peter","Abby","joe","Bart")
max(tuple) # returns the name that starts with the largest valued letter

'peter'

In [35]:
numberTup=(1,45,78,895,34)
max(numberTup) # returns the largest number

895

# iii. min()
### The Min function is ues to find the smallest item in a tuple based on the size of a number or alphabetical order on a string. Uppercase letters have a smaller value than uppercase letters

In [36]:
tuple=("peter","Abby","joe","Bart")
min(tuple) # returns the name that starts with the smalles valued letter

'Abby'

In [37]:
numberTup=(1,45,78,895,34)
min(numberTup) # returns the smallest number in the tuple

1